html{
    background-color: white;
    font-family: sans-serif;
    text-align: left, 10px;
    font-family: 'Inter', sans-serif;
}
header{
    color: black;
    font-size: 30px;
    left: 10px;
    top: 15px;
}


     
img{
    max-width: 100%;
}

h1, h2, h3 {
    font-family: 'Chivo', sans-serif;
}

h3{
    color: tomato;
    margin-bottom: 5%;
}

nav, footer, a.nav{
    color: tomato;
    background-color: rgb(224, 224, 224);
}

header, main{
    padding: 10%;
}