html{
    background-color: rgb(110, 202, 81);
    font-family: 'Archivo', sans-serif;
    text-align: left, 10px;
}
header{
    color: black;
    font-size: 30px;
    left: 10px;
    top: 15px;
}

nav{
    color:white;
}

a{
    color:white;
}