.card-link {
    display: inline-block;
    padding: $space--medium;
    margin: $space;
    background-color: $greenoscuro;
    color: $color_claro;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    transition: $time;

    &:hover{
        background-color: $color_pop;
    }
    
    &:visited{
        color: $color_claro;
    }

    &__container{
        display: flex;
        @include max-width (680px);
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    svg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: $space--medium;
    }
}

@media all and (max-width: 700px){
    
    .card-link__container {
        max-width: 400px;
    }
}

a{
    text-decoration: none;
}