div.foto{
    width: 200px;
    height: 200px;
    background-color: tomato;
    border: solid 4px white;
    border-radius: 50%;
    background-image: url(../recursos/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    transition: $time;
}

div.foto:hover{
    /*filter: invert(100%);*/
    border: solid 4px $color_pop;
    width: 220px;
    height: 220px;
    margin-top: 0px;
}