div.foto{
    width: 200px;
    height: 200px;
    background-color: orange;
    border: solid 6px white;
    border-radius: 50%;
    background-image: url(../recursos/avatar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}