//-----> $TYPOGRAPHY

body{
    font-family: 'Chivo';
    color: white;
}

h1{
    font-weight: bold;
}

h2{
    font-weight: 400;
    margin-top: 20px;
}
 
.perfil{
    text-align: center;
}

section.botones{
    text-align: center;
}