/*______________DECLRACIONES______________*/

:root{
    --fondo_celda: rgb(147, 205, 238);
    --fondo_600: rgb(255, 255, 147);
    --fondo_1024: pink;
}

/*______________Estilo______________*/

html{
    font-family: sans-serif;
}

p{
    font-size: 15px;
}

a{
    color: white;
}

/*_________________GRID_________________*/

/* Grid container */

.grid__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*GRID cell*/

.grid {
    display: flex;
}

.grid_cell-25  {
    flex: 25%;
}

.grid_cell-50 {
    flex: 50%;
}

.grid_cell-75 {
    flex:75%;
}

.grid_cell-100 {
    flex: 100%;
}

/*PROPIEDADES GRID CELL*/

[class^="grid_cell"] {
    background-color:var(--fondo_celda);
    margin: 1%;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.grid_cell-100{
    padding-bottom: 0%;
}


/*__________________MEDIA___________________*/

/*MEDIA 600px*/

@media all and (min-width: 600px){
    
    html{
        background-color: var(--fondo_600);
    }
    .grid__container {
        flex-direction: row;
    }
}

/*MEDIA 1024px*/

@media all and (min-width: 1024px){
    
    html{
        background-color: var(--fondo_1024);
    }
    
    .grid__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .grid_cell-25  {
        flex: 100%;
    }
    
    .grid_cell-50 {
        flex: 100%;
    }
    
    .grid_cell-100 {
        flex: 100%;
    }

    .grid_row2{
        display: flex;

    }
}