/*______________DECLRACIONES______________*/

:root{
    --fondo_celda: rgb(248, 248, 248);
    --fondo_600: white;
    --fondo_1024: tomato;
    --redondeo: 3px;
}

/*______________Estilo______________*/

html{
    font-family: sans-serif;
}

p{
    font-size: 15px;
}

a{
    color: var(--fondo_1024);
}

/*_________________GRID_________________*/

/* Grid container */

.grid__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*GRID cell*/

.grid {
    display: flex;
}

.grid_cell-25  {
    flex: 25%;
}

.grid_cell-50 {
    flex: 50%;
}

.grid_cell-75 {
    flex:75%;
}

.grid_cell-100 {
    flex: 100%;
    background-color: var(--fondo_1024);
}

/*PROPIEDADES GRID CELL*/

[class^="grid_cell"] {
    background-color:var(--fondo_celda);
    margin: 1%;
    border-radius: var(--redondeo);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

.grid_cell-100{
    padding-bottom: 0%;
}




/*_________________FOTOS_________________*/

img{
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: var(--redondeo);
}

.grid_cell-photo{
    padding: 0px;
}




/*__________________MEDIA___________________*/

/*MEDIA 600px*/

@media all and (min-width: 600px){
    
    html{
        background-color: var(--fondo_600);
    }
    .grid__container {
        flex-direction: row;
    }
}

/*MEDIA 1024px*/

@media all and (min-width: 1024px){
    
    html{
        background-color: var(--fondo_1024);
    }
    
    .grid__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .grid_cell-25  {
        flex: 100%;
    }
    
    .grid_cell-50 {
        flex: 100%;
    }
    
    .grid_cell-100 {
        flex: 100%;
    }

    .grid_row2{
        display: flex;

    }
}